name: Build and Upload to Itch.io

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Godot 4.x
        uses: abarichello/godot-ci@v4.4.1-stable  # 确保使用 Godot 4.x 的版本
        with:
          args: godot --headless --verbose --export-release "Windows Desktop" build/game.exe

      - name: Deploy to Itch.io
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCH_API_KEY }}
          CHANNEL: windows
          ITCH_GAME: tacooz
          ITCH_USER: tacooz
          PACKAGE: build/
