name: Build and Upload to Itch.io

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 使用 firebelley/godot-export 来构建项目
      - name: Set up Godot 4.x
        uses: firebelley/godot-export@v4   # 使用 Godot 4.x 版本
        with:
          version: '4.5'  # 你的 Godot 版本
          use-mono: false # 如果没有用 Mono，可以设置为 false
          export_presets: "Windows Desktop"  # 你设置的导出预设名称

      - name: Deploy to Itch.io
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCH_API_KEY }}
          CHANNEL: windows
          ITCH_GAME: tacooz
          ITCH_USER: tacooz
          PACKAGE: build/
