name: Build and Upload to Itch.io

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Godot
        uses: abarichello/godot-ci@v4.1.2
        with:
          godot-version: 4.5.1

      - name: Export game
        run: |
          mkdir -p build
          godot --headless --verbose --export-release "Windows Desktop" build/game.exe

      - name: Deploy to Itch.io
        uses: josephbmanley/butler-publish-itchio-action@master
        env:
          BUTLER_CREDENTIALS: ${{ secrets.ITCH_API_KEY }}
          CHANNEL: windows
          ITCH_GAME: tacooz
          ITCH_USER: tacooz
          PACKAGE: build/
